<form action="/home" method="get">
	<button id="topButton" type="submit">Cancel</button>
</form> 

<h1>TRIPHUB</h1>
<br>
<h3>{{error}}</h3>
<br>
<form action="/addTrip" method="post">
  Trip Name: <input type="text" name="name"><br>
  Trip Destination: <input type="text" name="dest"><br>
  Departure Date: <input type="text" name="ddate"><br>
  Outbound Flight Number: <input type="text" name="flightOutNum"><br>
  Airline : <input type="text" name="airOut"><br>
  Terminal: <input type="text" name="termOut"><br>
  Return Date: <input type="text" name="rdate"><br>
  Return Flight Number: <input type="text" name="flightInNum"><br>
  Airline: <input type="text" name="airIn"><br>
  Terminal: <input type="text" name="termIn"><br> 
  Hotel Name: <input type="text" name="hName"><br>
  Hotel Address: <input type="text" name="hAddress"><br>
  Check-in Date: <input type="text" name="hChIn"><br>
  Check-out Date: <input type="text" name="hChOut"><br> 
  <button type="submit">Submit</button>
</form>
