<div class='row'>
<div class='col-md-3'></div>
<div class='col-md-6'>
<form action="/logout" method="get">
  <button type="submit">Logout</button>
</form>

<h1 id='titleMain'>TRIPHUB</h1>

<h2> Your Trips </h2>
{{noTrips}}
{{#each trips}}
	<h3 style='color:pink'><a href="/myTrips/{{this.slug}}">{{this.name}}</a></h3>
{{/each}}

<br>
<br>
<form action="/addTrip" method="get">
	<button type="submit"> Add a Trip! </button>
</form>
</div>
<div class='col-md-3'></div>
<div>