<body>
<img src="https://media.giphy.com/media/F8NUgB604Rhh6/giphy.gif" id="bg" alt="">

<div id="wrapper">
<div id="header">
		<form action="/logout" method="get">
		  <button style="float: right; width: 130px; margin-right: 55px; margin-top:15px" id='navigationButton' type="submit">Logout</button>
		</form>
		<br>
</div>
<div id="content">
<div class='row'>

	<div class='col-md-3'></div>
	<div class='col-md-6' style=' background-color: rgba(255,255,255,0.8)'>
		

		<h1 id='title'>TRIPHUB</h1>

		<h2 id='title'> Your Trips </h2>
		<h6>{{noTrips}}</h6>
		{{#each trips}}
			<h3 style='color:pink'><a href="/myTrips/{{this.slug}}">{{this.name}}</a></h3>
		{{/each}}

		<br>
		<br>
		<form action="/addTrip" method="get">
			<button id='pinkButton' type="submit"> Add a Trip! </button>
		</form>
		<br>
		<br>
	</div>
	<div class='col-md-3'></div>
</div>
</div>
<div id='footer'>
    <br>
    <p>Made by: <a href="http://www.nathanielpisierra.com">
    Nathaniel PiSierra</a>.</p>
</div>
</div>

</body>