<body>
<img src="https://media.giphy.com/media/2FayUBN5Kl5sMdsIg/giphy.gif" id="bg" alt="">

<div id='header'><br><br><br></div>
<div id="content">
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6" style=' background-color: rgba(255,255,255,0.8);
    align-self:stretch;'>
		<h1 id='title'>TRIPHUB</h1>
		<br><br>
		{{#if error}}
		<h5 id="error"> No username/password combination found</h6>
		{{/if}}

		<form action="/login" method="post">
		   <h6 style="display: inline"> Email:  </h6><input type="text" name="email"><br>
		   <h6 style="display: inline">Password:  </h6><input type="password" name="password"><br>
		  <button id='pinkButton' type="submit">Login!</button>
		</form>
		<br>
		<br>
		<br>
	
<br>

		<h6> Not a member yet?</h6>
		<form action="/register" method="get">
			<button id='pinkButton' type="submit">Register</button>
		</form>
		<br><br>
	</div>
<div class="col-md-3"></div>
</div>
</div>
<div class="footer">
    <br>
    <p>Made by: <a href="http://www.nathanielpisierra.com">
    Nathaniel PiSierra</a>.</p>
</div>

</body>