<h1>TRIPHUB</h1>

<form action="/register" method="post">
  First Name: <input type="text" name="fname"><br>
  Last Name: <input type="text" name ="lname"><br>
  Phone: <input type"text" name="phoneNum"><br>
  Email:  <input type="text" name="email"><br>
  Password:  <input type="password" name="password"><br>
  <button type="submit">Register!</button>
</form>
<br>
<br>

{{error}}
