<h1>TRIPHUB</h1>

<br><br>
{{error}}

<h3> Enter your verification code </h3>

<form action="/verify" method="post">
	Verification Code <input type="text" name="code"> 
	<button type="submit">Submit</button>
</form>

