<div class='row'>
	<div class='col-md-3'></div>
	<div class='col-md-6'>
		<h1 id='titleMain'>TRIPHUB</h1>

		<br><br>
		{{error}}

		<h3> Enter your verification code </h3>

		<form action="/verify" method="post">
			Verification Code <input type="text" name="code"> 
			<button type="submit">Submit</button>
		</form>
	</div>
	<div class='col-md-3'></div>
</div>